body{
    padding: 0;
    margin: 0;
    overflow-anchor: 300px;

}
body h1,h2,h3,h4,h5,p{
    font-family: 'Raleway', sans-serif;
}

.landing-page{
    background-image: url("./assets/backgrounds/h_img.jpg") !important;
    background: cover !important;
    background-repeat: no-repeat!important;
    height: 850px;
    padding: 300px;
}
.logo,.textone,.graph,.mouse-click{
text-align: center;
padding: 30px; 
color: aliceblue; 
font-size: 30px;
}
.container-md{
    text-align: center;
    font-size: 20px;
    padding: 100px;
}
.service-title{
    background-image: url("./assets/backgrounds/s_image.jpg");
    background-repeat: no-repeat;
    background: cover;
    width: 2000px;
    height: 500px;
    padding: 150px;
    text-align: center;
    font-size: 25px;
    color: aliceblue;
}
.container-lg{
    justify-content: space-around;
    text-align: center;
    font-size: 15px;
}
#productManagementText,#developmentText,#designText{
    display: none;
    font-size: small;
}
.gallery {
    width:300px;
    height:300px;
    position: relative;
       padding: 0;
       margin: 0;
       text-align: center;
   }

   .portFolioImages{
cursor:pointer;
       position: relative;
       display: block;
   }

    .overlay{
       position: absolute;
       top: 0; right: 0;
       bottom: 0; left: 0;
       width: 300px;
       height: 300px; 
       text-align: center;
       background-color: rgba(0,0,0,0.8);
       opacity: 0;
       -webkit-transition: opacity 0.6s;
       -moz-transition: opacity 0.6s;
       transition: opacity 0.6s;
      vertical-align:middle;
      line-height:200px;
   }

   .overlay:hover{
       opacity: 1;      
   }

   .overlay h3{
       color: white;
       display: inline-table;
      vertical-align:middle;
      line-height:100%;            
   }

.what{
    text-align: center;
    padding: 20px 20px 20px 20px;
}
.textthree{
    text-align: center;
}
.Textfour{
    text-align: center !important;
}
.contactUs{
    background-image: url("./assets/backgrounds/c_image.jpg") !important;
    height: 700px;
    background-repeat: no-repeat;
}
.container-sm{
    padding-left: 300px;
}
.form-control,
.form-control:focus,
.form-control:active{
    background-color: transparent;
}

       @media screen and (max-width: 500px){ 

        /* Landing Page*/
    
        .logo {
            display: flex;
            flex-wrap: wrap;
        }
        .landingpage h1,p{
            display: flex;
            font-size: smaller;
        }
        .service-title{
            display: flex;
            flex-wrap: wrap;
        }
        
        .what {
            margin: 8px;
        }
    
        footer {
            color: black;
            text-align: center;
            margin-bottom: 40px;    
        }
    }