body{
    padding: 0;
    margin: 0;
    overflow-anchor: 300px;

}
body h1,h2,h3,h4,h5,p{
    font-family: 'Raleway', sans-serif;,
}

.landing-page{
    background-image: url("./assets/backgrounds/h_img.jpg") !important;
    background: cover !important;
    background-repeat: no-repeat!important;
    height: 850px;
    padding: 300px;
}
.logo,.textone,.graph,.mouse-click{
text-align: center;
padding: 30px; 
color: aliceblue;
font-size: 30px;
}
.container-md{
    text-align: center;
    font-size: 20px;
    padding: 100px;
}
.service-title{
    background-image: url("./assets/backgrounds/s_image.jpg");
    background-repeat: no-repeat;
    background: cover;
    width: 2000px;
    height: 500px;
    padding: 150px;
    text-align: center;
    font-size: 25px;
    color: aliceblue;
}
.container-lg{
    justify-content: space-around;
    text-align: center;
    font-size: 15px;
}
#productManagementText,#developmentText,#designText{
    display: none;
    font-size: small;
}
.gallery {
    width:300px;
    height:300px;
    position: relative;
       padding: 0;
       margin: 0;
       text-align: center;
   }

   .portFolioImages{
cursor:pointer;
       position: relative;
       display: block;
   }

    .overlay{
       position: absolute;
       top: 0; right: 0;
       bottom: 0; left: 0;
       width: 300px;
       height: 300px; 
       text-align: center;
       background-color: rgba(0,0,0,0.8);
       opacity: 0;
       -webkit-transition: opacity 0.6s;
       -moz-transition: opacity 0.6s;
       transition: opacity 0.6s;
      vertical-align:middle;
      line-height:200px;
   }

   .overlay:hover{
       opacity: 1;      
   }

   .overlay h3{
       color: white;
       display: inline-table;
      vertical-align:middle;
      line-height:100%;            
   }

.what{
    text-align: center;
    padding: 20px 20px 20px 20px;
}
.textthree{
    text-align: center;
}
.contactUs{
    background-image: url("./assets/backgrounds/c_image.jpg") !important;
    height: 650px;
    margin-left: 0 !important;
    margin-left: 0 !important;
}
.container-sm{
    padding-left: 300px;
}
.form-control,
.form-control:focus,
.form-control:active{
    background-color: transparent;
}

      /* @media screen and (max-width: 500px){ 

        /* Landing Page*/
    
        /* .logo {
            display: flex;
            flex-wrap: wrap;
        }
        .landingpage h1{
            display: flex;
            flex-wrap: wrap;
        }
        .service-title{
            display: flex;
            flex-wrap: wrap;
        }
        
        /* Portfolio Images */
        /* .container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .row div {
            width: 100%;
            margin-bottom: 0px;
            
        }
        .row div {
            width: 100%;
        }
        .container h3{
            margin: 0px 8px ;
            font-size: small;
            padding: 0px;
        }
        .container div img {
            width: 100%;
        }

        
    
       /* What We Do */
        /* .container-lg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
    
        .whatWeDoServiceIcons div {
            width: 100%;
            margin-bottom: 20px;
        }
        .what {
            margin: 8px;
        }  */
        
        /* SOCIAL ICONS */
        /* .container-sm{
            flex-wrap: wrap;
            margin: 8px;
            align-items: center;
            justify-content: space-around;
        }
    
            /* CONTACT US */
        /* .contactUs {
            margin-top: 40px;
        }
    
        form div input {
            background-color: transparent;
            border: 1px solid white;
            padding: 5px 10px;
            width: 80%;
            margin-bottom: 10px;
        } */
    
        /* form div input[type="email"] {
            margin-left: 0px; */ 
        
    
        /* SOCIAL MEDIA */
    
        /* .socialMedia {
            
            width: 100%;
        }
        .socialicons.container-sm{
            margin: auto;
            margin: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
    
        footer {
            color: black;
            text-align: center;
            margin-bottom: 40px;     */
